.DS_Store
*.DS_Store
__pycache__
*.pyc
*.swp*
*.pdf
*.png
*.ps
*.swp
*.log
*.o
*.mod
*.geo
*.bil
**/*.sqlite
*.history
*.conf
PICKLE
TEMP
tmp*
history*

.ftpconfig
.ftp*

*ipynb_checkpoints*

*.shp
*.tif
*.kmz
*cookies.txt
.vscode

TEST
